body {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}

#map-id {
  height: 45%;
  width: 49%;
}

#plotly-id{
  height: 50%;
  width: 50%;
  color: rgb(19, 19, 19);
}

#jsc-id {
  height: 80%;
  width: 50%;
  float: right;
}


.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h6 {
  margin: 0 0 5px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.legend {
  line-height: 13px;
  color: rgb(77, 77, 77);
  font-size: smaller;
}
.legend i {
  width: 13px;
  height: 13px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}